# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM.build/
.swiftpm/
*.xcodeproj/
.DS_Store
Sources/BetFreeUI/.build/
Sources/BetFreeUI/.swiftpm/
